---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Sobre mi"
  description="Seccion que habla un poco sobre mi"
  pubDate={new Date('Octubre 09 2024')}
  heroImage="/blog-placeholder-2.jpg"
>
  <p>
    Hola 🖖 soy Oscar. Profesional polifacético, interventor en educación e
    investigador en IA. También soy arquitecto de software cuando no puedo
    dormir en la noche.
  </p><p>
    Soy una persona curiosa y apasionado por la educación. Me gusta aprender e
    integrar conocimientos todos los días. Esta aplicación es mi modo de mostrar
    algunas guías que he realizado para mi rol como interventor por parte del
    CentroEduteka y TQ en el municipio de Villa Rica. La idea es que este
    recurso pueda ayudar a profesores, compañeros y comunidad educativa en
    general.
  </p>
</Layout>
