---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!--doctype html-->
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <span style="color: balck; font-size: 48px;"
        ><strong>Buenas profes</strong> 🧑‍🏫👩‍🏫</span
      >
      <p>
        En la sección de <a href="/blog">guías</a>, puedes encontrar guías de
        trabajo basadas en teorías neurocientíficas pedagógicas que incorporan
        estrategias como <strong
          >la activación de conocimientos previos y la recuperación espaciada</strong
        >, elementos clave para fortalecer <strong
          >la memoria de trabajo y la atención.</strong
        > Estas herramientas son esenciales para mejorar el desempeño en evaluaciones
        basadas en evidencias, como <strong>la prueba de Estado ICFES</strong> (Sweller,
        2016; Karpicke & Roediger, 2008).
      </p>
      <p>
        <code style="font-size: large;">
          Sweller, J. (2016). Cognitive load theory, evolutionary educational
          psychology, and instructional design. In Psychological Review, 123(4),
          368–383.

          <a href="/ref1.pdf" download="Sweller, J. (2016).pdf">
            Descargar artículo.
          </a>

          <br />
          Karpicke, J. D., & Roediger, H. L. (2008). The critical importance of retrieval
          for learning. Science, 319(5865), 966-968.
          <a
            href="/ref2.pdf"
            download="Karpicke, J. D., & Roediger, H. L. (2008).pdf"
          >
            Descargar artículo.
          </a>
        </code>
      </p>
    </main>
    <Footer />
  </body>
</html>
